.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: rgb(160, 95, 150);
    width: 500px;
    padding-top: 50px;
    box-shadow: 0px 0px 15px 0px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 300px 50px 50px 300px black;
    color: brown;
    animation: scale 0.50s;
}

.title {
    margin-top: 0px;
    font-size: 50px;
}

.poem {
    font-size: 30px;
}



@keyframes scale {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

body {
    background-image: url(../wer/g.gif);
    background-repeat: on-repeat;
    background-position: right bottom;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.check {
    height: 200px;
    width: 200px;
    background-image: url(../wer/ff.gif);
}